[submodule "firmware/SpinningPlatformController"]
	path = firmware/SpinningPlatformController
	url = https://github.com/janelia-arduino/SpinningPlatformController.git
[submodule "hardware/modular_device_base_5x3"]
	path = hardware/modular_device_base_5x3
	url = https://github.com/janelia-kicad/modular_device_base_5x3.git
[submodule "hardware/stepper_controller_5x3"]
	path = hardware/stepper_controller_5x3
	url = https://github.com/janelia-kicad/stepper_controller_5x3.git
